
<%if flash[:message] %>
  <%= flash[:message] %>
<% end %>


<label>Name:</label> <%=@user.name%><br />
<label>Mood:</label> <%=@user.mood%><br />
<label>Tickets:</label> <%=@user.tickets%><br />
<label>Height:</label> <%=@user.height%><br />
<% if @user.admin == true %>
<%="ADMIN"%>
<% end %>

<%= link_to "See attractions", attractions_path %>

<%= link_to 'Log Out', logout_path, method: 'delete' %>
